.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 16px;
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  letter-spacing: 0.2rem;
  cursor: pointer;
}

.logoImg {
  height: 16px;
  width: 16px;
}
