.title {
  font-size: 16px;
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  letter-spacing: 0.2rem;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 100%;
  background-color: #fff;
}

.img {
  object-fit: contain;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(5px);
  filter: drop-shadow(0 0 60px rgba(66, 68, 110, 0.5));
}

.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 20px;
  background: #161b22;
  border: 2px solid rgba(80, 80, 80, 0.5);
  border-radius: 15px;
  padding: 25px;
  min-width: 250px;
}
