.wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.block{
    display: flex;
    flex: 0 0 33.33%;
    flex-wrap: wrap;
    gap: 40px;
}

.title {
    font-size: 24px;
    color: #fff;
    font-family: 'Zen Dots', cursive;
    font-weight: normal;
    letter-spacing: .2rem;
}

.titleH2{
    font-size: 16px;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    letter-spacing: .2rem;
}

@media screen and (max-width: 1024px) {
    .block {
        justify-content: center;
    }
}