.wrapper {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

.title {
  font-size: 36px;
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  letter-spacing: 0.2rem;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.description p {
  font-size: 24px;
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  letter-spacing: 0.2rem;
  padding: 0;
}

h2 {
  font-size: 24px;
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  letter-spacing: 0.2rem;
}

@media screen and (max-width: 1024px) {
  .title {
    font-size: 24px;
  }
  .description,
  .titleH2 {
    font-size: 16px;
    letter-spacing: 0;
  }
}

@media screen and (max-width: 790px) {
  .title {
    font-size: 24px;
  }
  .description p,
  h2 {
    font-size: 16px;
    letter-spacing: 0;
  }
}
