.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    height: 150px;
    width: 150px;
    background: #161b22;
    border-radius: 15px;
    border: 2px solid rgba(80, 80, 80, 0.5);
}

.icon {
    height: 50px;
    width: 50px;
}

.title {
    font-size: 16px;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
    letter-spacing: 0.2rem;
}