* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root{
    background-color: #0d1117;
}

.container {
    width: 100%;
    max-width: 1024px;
    padding: 0 15px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}