/*---- Color ----*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar-track {
  background-color: #161b22;
}

.container {
  width: 100%;
  max-width: 1280px;
  padding: 0 15px;
  margin: 0 auto;
}

.link {
  text-decoration: none;
}

/*---- layout----*/
.layout {
  position: relative;
  background: #0d1117;
}

.layout-wrapper {
  display: flex;
}

/*---- Sidebar ----*/
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background: #161b22;
  height: 100vh;
}

.sidebarActive {
  left: 0 !important;
}

.sidebarLeft {
  left: -100px;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/*---- Page-Wrapper ----*/
.page-wrapper {
  min-height: 100vh;
  background: #0d1117;
  width: 100%;
  padding: 50px;
  margin-left: 100px;
}

/*---- Home ----*/
.home-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100%;
}

.home-title {
  font-size: 36px;
  color: white;
  text-transform: uppercase;
}

.home-description {
  font-size: 24px;
  color: white;
}

/*---- About ----*/
.person-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #161b22;
  border: 2px solid rgba(80, 80, 80, 0.5);
  border-radius: 15px;
  padding: 25px;
}

.person-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.person-avatar {
  border-radius: 50%;
}

.person-document {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.person-title {
  font-size: 20px;
  font-weight: bold;
  color: aliceblue;
}

.avatar {
  max-width: 100%;
  max-height: 250px;
  border-radius: 50%;
}

.skills-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 60%;
}

.skill-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 15px;
  gap: 5px;
}

/*---- work page ----*/
.work-page {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title-work {
  font-size: 20px;
  font-weight: bold;
  color: aliceblue;
}

.block-work {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.card-work {
  display: flex;
  flex-direction: column;
  flex: 0 0 30%;
  gap: 20px;
  background: #161b22;
  border: 2px solid rgba(80, 80, 80, 0.5);
  border-radius: 15px;
  padding: 25px;
  min-width: 250px;
}

.image-work {
  width: 100%;
  height: 100%;
  max-width: 250px;
  max-height: 200px;
}

/*---- contact ----*/
.contact-page {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-block {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #161b22;
  border: 2px solid rgba(80, 80, 80, 0.5);
  border-radius: 15px;
  padding: 25px;
}

.contact-link {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}

/*---- media ----*/
@media all and (max-width: 680px) {
  .sidebar {
    left: -100px;
    transition-duration: 0.5s;
  }
  .page-wrapper {
    margin: 50px 0 0;
  }
  .contact-block {
    overflow-wrap: anywhere;
  }
  .page-wrapper {
    padding: 20px;
  }
  .burgerWrapper {
    display: flex;
  }
}

/*# sourceMappingURL=index.css.map */
