@import "variables";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 100%;
  max-width: 1280px;
  padding: 0 15px;
  margin: 0 auto;
}

/*---- layout----*/
.layout{
  background: $base-color;
}
.layout-wrapper{
  display: flex;
}

/*---- Sidebar ----*/
.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background: $header-color;
  height: 100vh;
}
.nav{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/*---- Page-Wrapper ----*/
.page-wrapper{
  height: 100vh;
  background: $base-color;
  width: 100%;
  padding: 50px;
  margin-left: 100px;
}
/*---- About ----*/
.person-block{
  display: flex;
  justify-content: space-between;
  background: $header-color;
  border: 2px solid $gray-50;
  border-radius: 15px;
  padding: 25px;
}
.person-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.person-avatar{
  height: 250px;
  width: 250px;
  border-radius: 50%;
}
.person-document{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.person-title{
  font-size: 20px;
  font-weight: bold;
  color: aliceblue;
}
.avatar{
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}
.skills-block{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 60%;
}
.skill-item{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 15px;
  gap:5px;
}