.list {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.item {
  list-style: none;
  transition: 0.3s;
}

.link {
  font-size: 16px;
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  letter-spacing: 0.2rem;
  cursor: pointer;
  transition: 0.3s;
}

.listItem:hover {
  transition: 0.3s;
  transform: scale(1.1);
}

.burger {
  display: none;
}

@media screen and (max-width: 650px) {

  .list {
    display: flex;
    position: fixed;
    top: 60px;
    right: -100%;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: #0d1117;
    z-index: 999;
    overflow: hidden;
    transition: 0.3s;
  }

  .item {
    text-align: center;
  }

  .burger {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 20px;
    cursor: pointer;
    background-color: #161b28;
    z-index: 999;
  }

  .burgerMenu {
    display: flex;
    height: 3px;
    width: 100%;
    background-color: #fff;
  }

  .burgerMenu::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    height: 3px;
    width: 100%;
    background-color: #fff;
  }

  .burgerMenu::before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    height: 3px;
    width: 100%;
    background-color: #fff;
  }

  .active {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 60px;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: #0d1117;
    z-index: 999;
    overflow: hidden;
    right: 0;
    transition: 0.3s;
    gap: 20px;
  }
}

.bodyNoScroll {
  overflow: hidden;
}
